@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
body{
    background-color: #2cb3f3;
}
header{
    height: 42vh;
}
h1{
    position: relative;
    top: 100px;
    right: -806px;
    font-size: 56px;
    width: 360px;
}
p{
    position: relative;
    top: 100px;
    right: -700px;
    font-size: 30px;
    width: 600px;
}
.hat{
    background-color: white;
    width: 880px;
    height: 616px;
    position: absolute;
    left: 550px;
    border-radius: 16% 16% 0 0;
}
.rosto{
    background-color: #FFE1C9;
    width: 698px;
    height: 487px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 86px;
}
.olho-esquerdo{
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 75px;
    right: 500px
}
.olho-direito{
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 75px;
    right: 140px;
}
form{
    width: 370px;
    position: absolute;
    top: 300px;
    right: 150px;
}
input{
    font-size: 30px;
}